<div class="container-fluid page">
    <div class="page__box p-3 mt-2">Forms</div>
    <div class="page__content shadow p-3 position-relative">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp">
              <div id="passwordHelp" class="form-text">Your password must be 8-16 characters long, contain letters, special characters and numbers, and must not contain spaces or emoji.</div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>