<mat-nav-list>
  <div class="logo py-4">
    <h4><img src="../../favicon.ico">-Dashboard</h4>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">USER PANEL</h2>

  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>pie_chart</mat-icon>Dashboard
  </a>

  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon>UI Elements
  </a>

  <a mat-list-item routerLink="/tables" routerLinkActive="list-item-active">
    <mat-icon>table_rows</mat-icon>Tables
  </a>

  <a mat-list-item routerLink="/forms" routerLinkActive="list-item-active">
    <mat-icon>note_add</mat-icon>Forms
  </a>

  <a mat-list-item routerLink="/cards" routerLinkActive="list-item-active">
    <mat-icon>card_membership</mat-icon>Cards
  </a>

  <a mat-list-item routerLink="/modal" routerLinkActive="list-item-active">
    <mat-icon>model_training</mat-icon>Modal
  </a>

  <a mat-list-item routerLink="/blank" routerLinkActive="list-item-active">
    <mat-icon>space_dashboard</mat-icon>Products
  </a>

  <a mat-list-item routerLink="/map" routerLinkActive="list-item-active">
    <mat-icon>map</mat-icon>Map
  </a>

</mat-nav-list>
